*{
    padding: 0;
    margin: 0;
}
.logo{
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes logo{
    from{
        transform:rotateX(0deg);
    }
    to{
        transform: rotateX(180deg);
    }
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navhead{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 120px;
    display: flex;
    gap: 57px;
    font-size: 25px;
    padding-top: 10px;
    font-weight: 100;
}
.navhead>a{
    text-decoration: none;
    color: rgb(39, 39, 39);
}
.searchbar{
    width: 321px;
    margin-top: 7px;
}
#searchbar{
    width: 229px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
    padding-left: 4px;
}
.video1{
    width:1400px;
    height:800px;
}
.upparwala_video{/*Video_1*/
    text-align: center;
    padding-top: 1px;
}/*upar Nav bar hai*/
.trailer{
    text-align: center;
    margin-top: 60px;
}
.trailer>p{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
}
.trailer>h2{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
}
.button_1{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
button{
    background-color: black;
    border-radius: 20px;
    margin-top: 20px;
}
.shop{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    width: 93px;
    height: 21px;
    padding-top: 8px;
}
.watch{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    width: 93px;
    height: 21px;
    padding-top: 8px;
}
/*Latest*/
.latest{
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.latest>h1{
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 10px;
    display:flex;
    flex-direction: column;
}
.latest_image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.daniel{
    width: 400px;
    height: auto;
}
.alex{
    width: 400px;
    height: auto;
}
.latest_button>h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.shop_btn{
    color: white;
    width: 120px;
    height: 40px;
    margin: 0px;
}
.shop_btn>a{
    text-decoration: none;
    color: white;
}
/*Cards*/
.cards_heading{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: 100;
    font-size: 20px;
}
.cards{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-left: 58px;
    display: flex;
    grid-template-columns: 4;
    grid-template-rows: 2;
    grid-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}
/*card 1*/
.card_1{
    width: 300px;
    height: 400px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
.card_1>img{
    border-radius: 200px;
}
.card_1>img:hover{
    box-shadow: 0px 2px 10px #bce05d;
    transform: rotateZ(-10deg);
}
.card_1>h2{
    font-weight: 200;
    height: 20px;
}
.card_1>h3{
    font-weight: 100;
    height: 27px;
}
.card_1btn{
    margin-top: 13px;
    height: 29px;
    width: 112px;
    color: white;
    text-decoration: none;
}
.card_1btn>a{
    text-decoration: none;
    color: white;
}


.card_2{
    width: 300px;
    height: 400px;
    padding: 5px;
    border-radius: 10px;
    transition: 200ms;
    text-align: center;
}
.card_2>img{
    border-radius: 276px;
}
.card_2>img:hover{
    box-shadow: 0px 2px 10px #8080802e;
    transform: rotateZ(-10deg);
}
.card_2>h2{
    font-weight: 200;
    height: 20px;
}
.card_2>h3{
    font-weight: 100;
    height: 27px;
}




.foot{
    margin: 400px; 
}
